# Import

In [3]:
import pandas as pd 
import os

pwd = os.getcwd()

datasat_1 = pd.read_csv(pwd+ "/ filepath.csv")      #Reads the csv into Python

# Column

In [ ]:
datasat_1["New_Column"] = 1     #Specifying a uniform value for every row 

datasat_1["New_Column2"] = range(29)     #A list of values that is as long as the DataFrame

datasat_1["Added_Output"] = datasat_1["New_Column"] + datasat_1["New_Column2"]

datasat_1 = datasat_1.drop(columns = "Column1")     #Taking columns and add their values together

datasat_1.drop(columns = "Column1", inplace = True)     #inplace argument deletes the copy which "drop" argument creates

# Rows

In [ ]:
datasat_1.loc[:,"Column1"]      #Select all rows in the Column1

datasat_1.loc[0:4,"Column1"]    #Select rows 0 through 4 (including 4)

datasat_1.loc[:,["Column1","Column2"]]      #Select all rows in the column1 and column2


datasat_1.iloc[:, 1]      #Select all rows in the Column1

datasat_1.iloc[0:4, 1]      # Select rows 0 through 4 excluding 4 

datasat_1.iloc[:, 0:2]      # Select all rows in Column1 and Column2

In [11]:
netflix = pd.read_csv(pwd + "/netflix_titles.csv")
netflix

TypeError: read_csv() got an unexpected keyword argument 'nrow'

# List Out Columns

In [6]:

list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

# Basic Descriptive Statistic

In [12]:
netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

# Unique Values

In [14]:
netflix["type"].unique()

array(['TV Show', 'Movie'], dtype=object)

# Filtering

In [18]:
netflix[netflix["country"] == "Singapore"]

netflix[(netflix["country"]=="Singapore") & (netflix["rating"]=="TV-MA")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee..."
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel..."
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...

# DateTimes

In [22]:
netflix["comp_date"] = pd.to_datetime(netflix["date_added"])

from datetime import datetime as dt

netflix["comp_date"].fillna(dt(2020,1,1), inplace=True) #It fills the na values with 2022/01/01

netflix["unix_time"] = netflix["comp_date"].astype(int)

# Splitting Columns

In [ ]:
netflix[["Date_Part_1","Date_Part_2"]] = netflix["date_added"].str.split(", ", expand= True)

#Expand creates another column instead of creating a list of split elements

# Renaming Columns

In [ ]:
netflix.rename(columns={"Date_Part_2" : "Year"},inplace=True)

# Fill NA Values

In [ ]:
netflix["cast"].fillna(value= "no cast", inplace=True)

# GroupBy, Aggregation, and Sorting Values

In [ ]:
netflix.groupby("country")["show_id"].count().reset_index()

netflix_movies_by_group = netflix.groupby("country")["show_id"].count().reset_index().sort_values(by="show_id",ascending=False)

# Joins and Unions

In [24]:
second_dataset = pd.read_csv(pwd + "/netflix_titles_second.csv")

new_dataset = pd.concat([netflix, second_dataset])

netflix_merged = pd.merge(left = new_dataset, right= netflix_movies_by_group, 
how= "inner", left_on= ["country"], right_on= ["country"])

# Pivot

In [ ]:
pivot_table = netflix.pivot_table(index="country", columns="type", values="show_id",
aggfunc='count', fill_value= 0).reset_index()